[tool.black]
line-length = 88
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.circleci
    | \.eggs
    | \.git
    | \.github
    | \.venv
  )/
)
'''

[tool.towncrier]
package = "kitconcept.api"
package_dir = "src"
filename = "CHANGES.md"
directory = "news/"
title_format = "## {version} ({project_date})\n"
start_string = "<!-- TOWNCRIER -->\n"
# Custom Jinja2 template for preparing a new section of the Change Log.
template = "news/template.md.j2"
underlines = ["", "##", "###"]

[[tool.towncrier.type]]
directory = "feature"
name = "Features"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name = "Bug fixes"
showcontent = true

[[tool.towncrier.type]]
directory = "docs"
name = "Documentation"
showcontent = true

[[tool.towncrier.type]]
directory = "internal"
name = "Internal"
showcontent = true

[[tool.towncrier.type]]
directory = "trivial"
name = "Other"
showcontent = true

[tool.check-manifest]
ignore = [
    "*.cfg",
    ".coveragerc",
    ".editorconfig",
    ".gitattributes",
]

[tool.isort]
profile = "black"
force_alphabetical_sort = true
force_single_line = true
lines_after_imports = 2
line_length = 88

[tool.flakeheaven]
format="grouped"
max_line_length=88
show_source=true
exclude = ["README.md"]
max-complexity=25

[tool.flakeheaven.plugins]
# Disable some checks.
# - E501 line too long
#   flake8 is already testing this, with max-line-length=100000 in .flake8,
#   so pycodestyle should not test it.
# - W503 line break before binary operator
#   Outdated recommendation, see https://www.flake8rules.com/rules/W503.html
mccabe = ["+*"]
pycodestyle = ["+*", "-E501", "-W503"]
pyflakes = ["+*"]
pylint = ["+*"]

[tool.plone-code-analysis]
checkers = ["black", "flake8", "isort", "pyroma", "zpretty"]
formatters = ["black", "isort", "zpretty"]
paths = "setup.py src/"
